 <li class="nav-item ms-lg-3">


    <%= form_tag(products_path, method: :get, class: "d-flex", role: "search") do %>
     <%= select_tag :category, options_for_select(
      ['All', 'Fiction', 'Juvenile Fiction', 'Biography & Autobiography',
      'History', 'Literary Cristicism', 'Philosophy', 'Comics & Graphic Novels',
      ],   
      params[:category])%>

    <%= text_field_tag :keyword, params[:keyword], placeholder: 'Search' %>

      <button class="btn btn-secondary custom-button" type="submit">Search</button>

    <% end %>

</li>