<div class="content container min-vh-100">
  <h2 class="mt-4">Contact Page</h2>

  <div class="about-content mt-4">
    <p>
      At BookStorm, we're passionate about connecting readers with the stories they love. 
      Our online bookstore offers a curated collection of high-quality used books that span a variety of genres, 
      from fiction to history, philosophy to graphic novels. 
      With a commitment to sustainability and a love for the written word, we're your destination for discovering hidden literary treasures.
    </p>
    
     <p>Feel free to contact us for any queries.</p>
     <p><%= @contact.content %></p>

  </div>
</div>
