<div class="content container min-vh-100">

<h1> Contact Page </h1>

    <div class="about-content">
    <h3>Contact us</h3>
    <p>Feel free to contact us for any queries.</p>
    <p><%= @contact.content %></p>

  </div>


</div>