<% if @user_address.valid? %>
  <h2>Invoice</h2>
  <table>
    <tr>
      <th>Subtotal</th>
    </tr>
    <tr>
      <th>Taxes</th>
    </tr>
    <tr>
      <th>Total Amount</th>
    </tr>
  </table>
<% else %>
  <p>Please fill in your shipping address.</p>
<% end %>

