<h3>2. Payment method</h3>

<p> To pay for your order, you can use any of the methods listed below. 
    Please choose the most convenient for you.</p>

<p> <b>Credit Card</b> </p>
<p> <b>Debit Card</b> </p>
<p> <b>PayPal</b> </p>

