<div class="container">
  <h1> Currentuser's Shopping Cart</h1>

  <table>
    <thead>
      <tr>
        <th>Book Title</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
     <%= render partial: "cart", locals: { cart: @cart } %>
    </tbody>
  </table>
</div>
