<div class="container">
  <h3 class="mt-4">
      <%= current_user.email %>'s Shopping Cart   
   </h3>

<% if @cart.cart_items.present? %>
<div class="card card-transparent mt-4">
  <table class="table  table-hover">
      <thead>
      <tr>
        <th scope="col">Book Cover</th>
        <th scope="col">Book Title</th>
         <th scope="col">Per Price</th>
         <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
       
   <%= render partial: "cart", locals: { cart: @cart } %>

    </tbody>
  </table>

  <%# check out button %>
  <%= link_to "Check Out", new_order_path, class: "custom-btn custom-link" %>
</div>

<% else %>
  
<div class="alert alert-info mt-4">
      <h4 class="alert-heading">There are no items in your cart</h4>
    </div>
<% end %>
  
</div>
