<div class="container custom-container">
  <h3><%= current_user.email %>'s Cart</h3>

  <% if @cart.cart_items.present? %>
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "cart", locals: { cart: @cart } %>
        </tbody>
      </table>

      <div class="checkout">
        <%= link_to "Proceed to Checkout", new_order_path, class: "custom-btn" %>
      </div>
    </div>
  <% else %>
    <div class="empty-cart mt-4">
      <div class="alert alert-info">
        <h4 class="alert-heading">Your cart is empty</h4>
      </div>
      <div class="continue-shopping">
        <%= link_to "Continue Shopping", products_path, class: "custom-btn" %>
      </div>
    </div>
  <% end %>
</div>
