<div class="container">
  <h1> 
    <%# user's email %>
    <%= current_user.email %>'s Shopping Cart  
   </h1>

  <table>
    <thead>
      <tr>
        <th>Book Cover</th>
        <th>Book Title</th>
        <th>Per Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
     <%= render partial: "cart", locals: { cart: @cart } %>
    </tbody>
  </table>

  <%# check out button %>
  <%= link_to "Check Out", new_order_path, class: "button" %>
  
</div>
