// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
// @import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//

.footer {
  width: 100%;
  margin-top: 80px;
  padding: 25px 0 !important; /* Adjust padding as needed */
  background-color: #3661B9 !important; /* Black background color */
  color: #fff; /* White text color */
}


.navbar {
  background-color: #3661B9;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

.navbar a:hover {
  color: #f3efef;
}

/* Custom styles for active link in the navbar */
.navbar-nav .nav-item .nav-link.active {
  background-color: #3661B9; /* Change background color */
  color: #E8E9EB  ;
  text-decoration: underline dotted #f3efef; /* Add underline dotted effect */
}