/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #222222;
  line-height: 1.5;
  letter-spacing: 0.5px;
  background-color: #f8f9fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:#3661B9;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* navbar */
.navbar {
  color: white; /* 修改导航栏内所有文本的颜色 */
}

.navbar-nav .nav-link {
  font-weight: 600px;
  color: white; /* 修改导航栏链接的颜色 */
  text-decoration: none !important; /* 去除导航链接的下划线 */
}

.navbar-brand .custom-link {
  font-size: 17px;
  font-weight: 900px;
  color: white;
  text-decoration: none !important; 
}


.img-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.navbar-brand {
  font-size: 18px;
  font-weight: 800px;
}

/* home page */
.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-fluid:hover {
  transform: scale(1.01);
  opacity: 0.95;
}


/* footer */
.text-dark {
  text-decoration: none !important;
}

.text-dark:hover {
  color : #3661B9;
  text-decoration: none !important;
}




.content {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.content h2 {
  font-size: 35px;
  font-weight: bold;
}

.content p {
  color: #555;
  font-size: 18px;
}

.note {
  color: #999;
  font-style: italic;
  margin-top: 20px;
}

.about-content {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.about-content h3 {
  font-size: 25px;
  font-weight: 400px;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 800px;
}



.placeholder-gray::placeholder {
  color: #999999;
}

.placeholder-gray:-ms-input-placeholder {
  color: #999999;
}

.placeholder-gray::-ms-input-placeholder {
  color: #999999;
}

.custom-date-field {
  color: #999999 !important;
}

.about-content a {
  color: #111111;
}

.custom-data-right {
  text-align: right;
}

.custom-data-center {
  text-align: center;
}

.card {
  margin-top: 50px;
  border: 5px;
}

.watchlists-link {
  text-decoration: none;
  color: white;
}

.button-group {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  gap: 20px;
}

.custom-select {
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.custom-select:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.btn.btn-sm {
  font-size: 11px; /* 调整按钮字体大小 */
  padding: 5px 10px; /* 调整按钮内边距 */
}

.btn-primary {
  background-color: #337ab7; /* 修改按钮背景颜色 */
  border-color: #337ab7; /* 修改按钮边框颜色 */
}

.btn-danger {
  background-color: #e9983d;
  border-color: #e9983d;
}

.thumbnail-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.original-price {
  text-decoration: line-through;
  color: #888;
}

.sale-price {
  color: #c00;
  font-size: 1.2em;
  font-weight: bold; /* 可以加粗字体 */
}

.discount-tag {
  background-color: #c00;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}
