/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #222222;
  line-height: 1.5;
  letter-spacing: 0.5px;
  background-color: #f8f9fa;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color:#3561BA;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to cover the viewport */
}

.main-content {
  flex-grow: 1; /* Allow the main content to grow and occupy remaining space */
}

/* footer page css */
.foot-container {
  width: 100% !important;
  padding: 25px 0 !important; /* Adjust padding as needed */
  background-color: #3561BA !important; /* Black background color */
  color: #fff; /* White text color */

}


.footer-title {
  margin-bottom: 10px !important;
  padding: 0;
  font-size: 1em;
  color: #fff !important; /* White text color */
}

.footer li {
  font-size: 0.8em !important;
  color: #fff !important; /* White text color */
}
.footer a {
  color: #ccc; /* Light gray color for links */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Add transition effect for color change */
}
.footer a:hover {
  color: #fff; /* White color for links on hover */
}
.icon-white {
  color: #fff; /* Set the color to white */
}
/* Style for the copyright and links */
.footer hr {
  border-color: #fff;
  border-width: 2px;
}

.foot-center{
  text-align: center;
}

/* navbar */
.navbar {
  color: white; /* 修改导航栏内所有文本的颜色 */
}

.navbar-nav .nav-link {
  font-weight: 600px;
  color: white; /* 修改导航栏链接的颜色 */
  text-decoration: none !important; /* 去除导航链接的下划线 */
}

.navbar-brand .custom-link {
  font-size: 17px;
  font-weight: 900px;
  color: white;
  text-decoration: none !important; 
}


.img-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.navbar-brand {
  font-size: 18px;
  font-weight: 800px;
}

/* home page */
.img-fluid {
  width: 100%;
  max-height: 600px;
}

.img-fluid:hover {
  transform: scale(1.01);
  opacity: 0.95;
}


/* footer */
.text-dark {
  text-decoration: none !important;
}

.text-dark:hover {
  color : #3661B9;
  text-decoration: none !important;
}

/* product page */
.custom-img {
  width: 80%;
  margin-right: 10px;
}

.custom-link {
  color: #3498db;
  text-decoration: none !important;
}

/* sidebar */
.list-group {
  background-color: #e8e9eb;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(34, 34, 34, 0.1);
}

.list-group-item {
  border: none;
  padding: 5px;
  background-color: transparent; 
  transition: background-color 0.3s ease; /* 添加过渡效果 */
}

.list-group-item:hover {
  background-color: #dbd8d8; /* 鼠标悬停时的背景颜色 */
}

.list-group-item.active {
  background-color: #d2e0eb; /* 激活状态的背景颜色 */
  color: white; /* 激活状态的文本颜色 */
}

/* product card */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(34, 34, 34, 0.1);
  position: relative; 
  min-height: 380px;
  max-height: 400px;
}

.card-body {
  padding: 2px;
  overflow: hidden;
}

.card-title {
  padding:2px 0px 8px 8px;
  font-size: 0.75em;
}

.card-text {
  padding:0px 0px 8px 8px;
  font-size: 0.7em;
  color: #444;
  margin-bottom: 2px;
  line-height: 10px;
}

.text-center {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.thumbnail-img{
  padding: 8px;
  width: 100%;
  height: 290px;
}

.original-price {
  text-decoration: line-through;
  color: #888;
}

.sale-price {
  color: #e74c3c;
  font-weight: bold; /* 可以加粗字体 */
}

.discount-tag {
  background-color: #e74c3c;
  color: #fff;
  padding: 2px 2px;
  border-radius: 5px;
  font-size: 0.7rem;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease;
}

/*  product show page */
.product-show-page.discount-tag {
  font-size:15px !important;
}

.custom-btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
}

.custom-btn:hover {
  background-color: #2980b9;
}

.cart-cover {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

/* search button */
.search-button{
  background-color : #253452  !important;
  color: white !important;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #2a4a8e;
}
/* Reduce the width of the <select> element */
.form-select {
  background-color: #E8E9EB;
  max-width: 80px; /* Adjust the width as needed */
  color: #535252;
}

/* Adjust the width of the search input */
.form-control {
  background-color: #E8E9EB;
  max-width: 200px; /* Adjust the width as needed */
  color: #535252;
}


/* cart page */
.custom-container  {
  padding: 50px 100px;
  background-color: #f8f9fa;
}

.featured-books {
  padding: 20px 0px;
}

