<!-- app/views/categories/index.html.erb -->
<div class="container">

   <h3>Top 20 Categories</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Category Name</th>
          <th scope="col">Number of Books</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>

            <td class="custom-link"> <%= link_to category.name, category_path(category.id) %> </td>

            <td><%= category.products.count %></td>

          </tr>
        <% end %>
      </tbody>
    </table>

</div>
