<!-- app/views/products/index.html.erb -->

<div class="container mt-3">

  <div class="row">
    <!-- Sidebar -->
    <%= render partial: "shared/sidebar"%>

    <!-- Main Content -->
    <div class="col-md-9">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <% if @products.empty? %>
        <div>
       <img src="<%= asset_path('nobook.png') %>" alt="Image" class="img-fluid">
       <br>
          <br>
             
       <h3>Sorry , No book found.... </h3>
        <br>
        </div>
        <% else %>
           <% @products.each do |product| %>
          <%= render partial: 'shared/product_card', locals: { product: product } %>       
          <% end %>
        <% end %>
      </div>
    </div>


  </div>
  <%= paginate @products %>

</div>

